// Place all the styles related to the checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// media-query breakpoints
@mixin large-screen {
	@media only screen and (min-width: 1025px) {
		@content;
	}
}
@mixin medium-screen {
	@media only screen and (min-width: 770px) and (max-width: 1024px) {
		@content;
	}
}
@mixin ipad-landscape-screen {
	@media only screen and (min-width: 768px) and (max-width: 770px) {
		@content;
	}
}
@mixin small-screen {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin transition($property: all, $duration: .4s, $easing: ease-in-out) {
	-webkit-transition: $property, $duration, $easing;
	-moz-transition: $property, $duration, $easing;
	-ms-transition: $property, $duration, $easing;
	-o-transition: $property, $duration, $easing;
	transition: $property, $duration, $easing;
}


$buttons: #1B8E99;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #ccc;
	font-family: 'Spinnaker', sans-serif;
}

hr {
	margin: 15px 0 0 0;
}

a:hover {
	@include transition;
}

.navbar {
	color: white;
	margin: 0;
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	.navbar-brand {
		@include medium-screen {
			margin: 0 -10px 0 -18px !important;
		}
	}
	.navbar-nav {
		margin-top: 4px !important;
	}
}

.nav_title {
	font-family: 'Oldenburg', 'Helvetica', cursive;
	font-size: 25px;
	@include medium-screen {
		font-size: 18px;
		letter-spacing: 0;
	}
	@include ipad-landscape-screen {
		font-size: 14px;
		letter-spacing: -1px;
	}
	@include small-screen {
		font-size: 14px;
		letter-spacing: -1px;
	}
	.subtitle {
		font-size: 20px;
		letter-spacing: 2px;
		@include medium-screen {
			font-size: 16px;
		}
		@include small-screen {
			font-size: 13px;
			letter-spacing: 0;
		}
		@include ipad-landscape-screen {
			font-size: 13px;
			letter-spacing: 0;
		}
	}
}

.navbar-icon {
	display: block;
	margin: 8px 0 -10px;
	@include medium-screen {
		display: none;
	}
	@include ipad-landscape-screen {
		display: none;
	}
	@include small-screen {
		display: none;
	}
}

.nav_tree {
	width: 30px;
	height: auto;
	float: left;
	margin: -7px -4px 0px -3px;
	border-radius: 3px;
	@include transition;
	&:hover {
		-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		-moz-box-shadow:		0px 0px 15px 0px rgba(255, 255, 255, 0.75);
		box-shadow:				 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
	}
}

.main_container {
	position: fixed;
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.map_div {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	z-index: 99
}

.marker {
	cursor: pointer;
	// animation: bump 0.2s infinite;
}

.splash {
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	width: 100%;
	height: 100%;
	border: 0;
	top: 0;
	left: 0;
	z-index: 101;
}
.oakland-oak {
	width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 50px 0 15px 0;
	opacity: 0.8;
	@include medium-screen {
		width: 45%;
		padding: 100px 0 15px 0;
	}
	@include small-screen {
		width: 80%;
		padding: 50px 0 15px 0;
	}
}
#welcome {
	text-align: center;
	margin-top: 100px;
	font-size: 22px;
	width: 100%;
	@include ipad-landscape-screen {
		position: fixed;
		margin-top: 340px;
	}
	@include small-screen {
		position: fixed;
		margin-top: 155px;
	}
}
.welcome_title {
	font-family: 'Oldenburg', 'Helvetica', cursive;
	line-height: 20px;
	margin: 20px 0;
	letter-spacing: 5px;
	font-size: 34px;
	@include medium-screen {
		font-size: 28px;
	}
	@include small-screen {
		margin: 5px 0 20px;
		font-size: 25px;
		letter-spacing: 5px;
	}
}
.welcome_subtitle {
	font-size: 18px;
	@include small-screen {
		font-size: 16px;
	}
}

.content_header,
.created_container_header {
	text-align: center;
	margin: 60px 15px 0;
	@include small-screen {
		text-align: left;
		margin: 50px 15px 10px 15px;
	}
}


// CHECKIN FORM
.content_div {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 20px;
	padding: 0 280px;
	width: 100%;
	top: 0;
	border: 0;
	z-index: 100;
	@include medium-screen {
		padding: 0 150px;
	}
	@include ipad-landscape-screen {
		padding: 0 90px;
	}
	@include small-screen {
		height: 30%;
		padding: 0;
	}
}

#site-1 {
	color: #fff;
	height: 79%;
	width: 100%;
	padding: 15px;
	overflow: scroll;
	img {
		width: 100%;
		height: auto;
	}
	@include small-screen {
		width: 100%;
		font-size: 20px;
	}
}

.name-field {
	input {
		color: #303030;
		padding: 5px;
		width: 100% !important;
		background: ghostwhite;
		border: 0;
	}
}

.comment-field {
	padding-top: 15px;
	textarea {
		color: #303030;
		padding: 5px;
		width: 100% !important;
		background: ghostwhite;
		border: 0;
	}
}

.image-upload {
	padding-top: 15px;
	input {
		color: #fff;
	}
	// the only way to style a file upload button??
	::-webkit-file-upload-button {
		background: $buttons;
		color: #fff;
		padding: 5px 10px;
		border: 0;
		outline: 0;
		margin-right: 10px;
		cursor: pointer;
	}
}

// fix for horizontal scroll
#checkin_image {
	width: 100%;
}

#submit_button {
	input {
		@include transition;
		color: #fff !important;
		margin-top: 20px;
		background-color: $buttons;
		border: 0;
		padding: 5px;
		width: 100%;
		text-align: center;
		&:hover {
			background-color: darken($buttons, 15%);
		}
	}
}

.upload-note {
	color: indianred;
	font-size: 15px;
	margin-top: 6px;
}

.site1_title {
	font-size: 30px;
	letter-spacing: 8px;
	@include large-screen {
		width: 50%;
		margin: 0 auto;
		line-height: 1.1;
	}
	@include small-screen {
		font-size: 25px;
		padding: 10px 0 0;
		margin-bottom: -3px;
	}
}

#site-title {
	@include small-screen {
		font-size: 20px;
	}
}

// .site1_desc {
// 	font-size: 22px;
// 	letter-spacing: 3px;
// 	@include small-screen {
// 		font-size: 20px;
// 	}
// }

.about_modal, .howitworks_modal {
	cursor: pointer;
}

body .commentModal {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

#back_button {
	color: $buttons;
	font-size: 28px;
	top: 65px;
  right: 295px;
	position: absolute;
	cursor: pointer;
	@include transition;
	&:hover {
		color: darken($buttons, 15%);
	}
	@include medium-screen {
		right: 165px;
	}
	@include small-screen {
		top: 65px;
		right: 15px;
	}
}

.btn-default {
	border: 0 !important;
}

.notice {
	color: red;
	font-size: 17px;
	text-align: center;
}

.notice_hide {
	display: none;
}

/*/////////all isotope css//////////*/
.isotope-item {
		z-index: 2;
}
.isotope-hidden.isotope-item {
		pointer-events: none;
		z-index: 1;
}
.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */

		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		transition-duration: 0.8s;
}
.isotope {
		-webkit-transition-property: height, width;
		-moz-transition-property: height, width;
		transition-property: height, width;
}
.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		transition-property: transform, opacity;
}
/* ////end isotope/// */


/*///// ALL CHECKINS ////*/
.allCheckins {
	height: 80%;
	width: 100%;
}

.allcheckins_container > .allCheckins.isotope {
	margin-top: 20px;
}

.allcheckins_container {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	padding: 50px 10px 30px 10px;
	width: 100%;
	min-height: 100vh;
	border: 0;
	h1 {
		padding: 0 15px;
	}
}

#each_one {
	margin: 11px;
	padding: 10px;
	background-color: gray;
	border-radius: 4px;
	width: 31%;
	font-size: 20px;
	img {
		border-radius: 4px;
		width: 100%;
		height: auto;
	}
	@include ipad-landscape-screen {
		margin: 4px;
	}
	@include small-screen{
		margin: 5px;
		padding: 9px;
		width: auto;
		font-size: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.allcheckins-title {
	font-size: 35px;
	padding: 20px 15px 10px;
	float: left;
	@include small-screen {
		font-size: 32px;
		text-align: center;
		width: 100%;
	}
}

.back_link {
	color: $buttons !important;
	font-size: 18px;
	float: right;
	padding: 40px 55px 10px;
	text-decoration: none !important;
	&:hover {
		color: darken($buttons, 10%) !important;
	}
	@include medium-screen {
		font-size: 20px;
		padding: 40px 22px 10px;
	}
	@include small-screen {
		font-size: 20px;
		padding: 0 0 5px;
		text-align: center;
		width: 100%;
		margin-top: -10px;
	}
}
