<div class="main_container">
  <div class='map_div'>
		<div id='map'> </div>
	</div>


	<div class="splash">
    <div id="welcome">
      <img class="oakland-oak" src="assets/oakland-oak.png">
      <div id="welcome_title">
        <p>On The Road: Oakland</p>
      </div>
      <p class="welcome_subtitle">Click anywhere to begin.</p>
    </div>
	</div>

	<div class="content_div"></div>

</div>

<script>
  // g analytics here

</script>